<div class="card">
    <img src="/assets/download.jpg" alt="Car Image">
    <div class="card-content">
        <div class="card-title">Jeep</div>
        <div class="card-subtitle">Mercielago / 2014 წელი</div>
        <div class="details">
            <span>364კმ</span>
            <span>ავტომატიკა</span>
            <span>7 ადგილი</span>
        </div>
        <div class="price">50₾ / დღე</div>
    </div>
    <button class="rent-btn">გაქირავება</button>
</div>


<div class="car-card">
    <div class="content">
      <h2>საუკეთესო პლატფორმა</h2>
      <h4>მანქანის გასაქირავებლად.</h4>
      <p>მანქანის ქირაობა ასეთი ადვილი არასდროს ყოფილა.</p>
      <button class="rent-btn">იქირავე</button>
    </div>
    <div class="image-container">
      <img src="" alt="Car Image">
    </div>
  </div>

  <div class="car-card2">
    <div class="content">
      <h2>მანქანის ქირაობა</h2>
      <h4>ასეთი აადვილი არასდროს ყოფილა</h4>
      <p>იქირავე მანქანა სასურველ ფასში სასურველი დროით</p>
      <button class="rent-btn">იქირავე</button>
    </div>
    <div class="image-container">
      <img src="" alt="Car Image">
    </div>
  </div>


